@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0a1a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 퀴즈 이미지 저장 방지 */
.quiz-image {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
